#content-desktop {
    display: block;
}

#content-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    #content-desktop {
        display: none;
    }
    #content-mobile {
        display: block;
    }
}

body {
    background-color: #000000;
}

.onlyForDesktop {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .desktop-logo {
        max-width: 450px;
        margin: 0 auto;
    }
    h2 {
        color: #ffffff;
        margin-top: 25px;
    }
}