@font-face {
  font-family: "Good Times Rg";
  src: url("../fonts/GoodTimesRg-Regular.eot");
  src: url("../fonts/GoodTimesRg-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GoodTimesRg-Regular.woff2") format("woff2"), url("../fonts/GoodTimesRg-Regular.woff") format("woff"), url("../fonts/GoodTimesRg-Regular.ttf") format("truetype"), url("../fonts/GoodTimesRg-Regular.svg#GoodTimesRg-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*fonts*/
/*gradient function*/
.selector-1 {
  background: #EDAC7D;
  background: -webkit-gradient(linear, left top, left bottom, from(#31B7D7), to(#EDAC7D));
  background: linear-gradient(#31B7D7, #EDAC7D);
}

.selector-2 {
  background: #E47D7D;
  background: -webkit-gradient(linear, left top, right top, from(#E47D7D), color-stop(50%, #C195D3), to(#4FB4E8));
  background: linear-gradient(to right, #E47D7D 0%, #C195D3 50%, #4FB4E8 100%);
}

.selector-3 {
  background: #B58234;
  background: linear-gradient(42deg, #B58234 0%, #D2B545 50%, #D7C04D 50.01%, #FFFFFF 100%);
}

/* colors */
.stickyHeader {
  font-family: "Good Times Rg";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  z-index: 10;
}

.stickyHeader .smallLogo,
.stickyHeader .hamburger {
  width: 35%;
}

.stickyHeader .bg-dark {
  background-color: rgba(0, 0, 0, 0.7) !important;
  padding: 0;
}

section.bannerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

section.bannerWrapper .bannerContent {
  width: 100%;
  padding: 0 15px;
  font-family: "Good Times Rg";
}

section.bannerWrapper .bannerContent.electroBannerText {
  background-image: url("../images/electro/electro-banner-text-bg.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% 100%;
}

section.bannerWrapper .bannerContent.goblinBannerText {
  background-image: url("../images/goblin/green-boglin-gradient.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
}

section.bannerWrapper .bannerContent.goblinBannerText img {
  padding: 0;
}

section.bannerWrapper .bannerContent h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.3;
}

section.bannerWrapper .bannerContent h2 span {
  display: block;
  font-size: 25px;
}

section.bannerWrapper .bannerContent p {
  font-size: 18px;
  font-size: 2.2vw;
}

section.bannerWrapper .bannerContent p small {
  display: block;
  font-size: 2.5vw;
}

section.bannerWrapper .bannerContent p.white {
  color: #ffffff;
}

section.bannerWrapper .bannerContent p.electro_blue {
  color: #84abe5;
}

section.bannerWrapper .bannerContent p.gobline_green {
  color: #47b444;
}

section.bannerWrapper .bannerContent .startQuizBtn {
  text-decoration: none;
  padding: 8px 10px;
  font-size: 16px;
  background-color: #162533;
  border: 1px solid #948433;
  position: relative;
  top: 15px;
  font-family: "Good Times Rg";
  font-style: italic;
  color: #ffffff;
}

section.quizWrapper {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: #000000;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.quizWrapper .progress {
  width: 80%;
  margin: 0 auto;
}

section.quizWrapper .quizSlider {
  width: 90%;
  margin: 25px auto;
  text-align: center;
}

section.quizWrapper .quizSlider h3 {
  font-family: "Good Times Rg";
  font-size: 4.5vw;
}

section.quizWrapper .quizSlider .options label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  padding: 0 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../images/radio-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  font-family: "Good Times Rg";
  color: #ffffff;
  font-size: 9px;
}

section.quizWrapper .quizSlider .options label input {
  position: absolute;
  opacity: 0;
}

section.quizWrapper.electro .progress .progress-bar {
  background-color: #75a9da;
}

section.quizWrapper.electro .quizSlider h3 {
  color: #84abe5;
}

section.quizWrapper.electro .quizSlider .options label:hover, section.quizWrapper.electro .quizSlider .options label:focus {
  background-image: url(../images/electro/electro-option-selected.png);
}

section.quizWrapper.goblin .progress .progress-bar {
  background-color: #529c54;
}

section.quizWrapper.goblin .quizSlider h3 {
  color: #47b444;
}

section.quizWrapper.goblin .quizSlider .options label:hover, section.quizWrapper.goblin .quizSlider .options label:focus {
  background-image: url(../images/goblin/goblin-option-selected.png);
}

section.prizesWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.prizesWrapper.electro {
  background-image: url(../images/electro/bg-electro-prize-gradient.png);
  background-repeat: no-repeat;
  background-size: auto;
  padding-top: 50px;
}

section.prizesWrapper.electro .thunder {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/electro/prizes-thunder.png");
  background-repeat: no-repeat;
  background-position: bottom -25px right;
  background-size: cover;
  z-index: 1;
  opacity: 0.5;
}

section.prizesWrapper.goblin {
  background-image: url(../images/goblin/bg-gobline-prizes.png);
  background-repeat: no-repeat;
  background-size: auto;
  padding-top: 50px;
  background-size: 100%;
}

section.prizesWrapper.goblin h2 {
  color: #47b444 !important;
}

section.prizesWrapper .prizesBtn {
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-decoration: none;
  padding: 8px 10px;
  font-size: 16px;
  background-color: #162533;
  border: 1px solid #948433;
  font-family: "Good Times Rg";
  font-style: italic;
  color: #ffffff;
  z-index: 3;
}

section.prizesWrapper .prizesContent {
  position: relative;
  width: 100%;
  padding: 0 15px;
  font-family: "Good Times Rg";
  z-index: 2;
}

section.prizesWrapper .prizesContent h2 {
  font-size: 3.5vw;
  font-weight: 400;
  font-style: italic;
  line-height: 1.3;
  margin-bottom: 15px;
  color: #ffffff;
}

section.prizesWrapper .prizesContent p {
  font-size: 2.9vw;
  color: #ffffff;
}

section.prizesWrapper .prizesContent img {
  margin-bottom: 15px;
}

section.prizesWrapper .prizesContent a {
  font-size: 2.9vw;
  color: #ffffff;
  text-decoration: none;
}
/*# sourceMappingURL=electro.css.map */